---
import { Navbar } from "@/components/react/navbar";
import Head from "@/components/Head.astro";
import { ICON_MAP, SOCIAL_LINKS } from "@/consts";
//import { Icon } from 'astro-icon/components';
import { Icon } from "@lucide/astro";
import { SITE } from "@/consts";
import "../styles/global.css";

interface Props {
  title: string;
  canonicalUrl?: string;
}

const { title, canonicalUrl = SITE.href } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head />
  <body
    class="flex h-fit min-h-screen w-full flex-col gap-y-4 font-sans sm:gap-y-6"
  >
    <!-- Header section -->
    <Navbar client:load />
    <!-- Main content area -->
    <main
      class="bg-background mt-16 flex grow flex-col lg:mt-6"
      aria-label="Main content"
    >
      <div
        class="mx-auto flex max-w-5xl grow flex-col gap-y-4 px-3 py-10 sm:gap-y-6 sm:px-6 sm:py-16 md:py-20 lg:px-8 lg:py-24"
      >
        <slot />
      </div>
    </main>
    <footer class="py-4">
      <div
        class="mx-auto flex max-w-5xl flex-col items-center justify-center gap-y-2 px-4 sm:flex-row sm:justify-between"
      >
        <div class="flex">
          <ul
            class="mb-4 flex w-full flex-wrap justify-around gap-2 md:mb-0 md:w-auto md:justify-center"
          >
            {
              SOCIAL_LINKS.map((link) => (
                <li aria-label={link.label} role="listitem">
                  <a
                    href={link.href}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-foreground text-sm hover:underline"
                    aria-label={link.label}
                  >
                    {link.icon ? <link.icon /> : null}
                    {/* <Icon name={'github'} class='size-4' /> */}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
